<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftCard</title>
    <link rel="stylesheet" href="./giftcard.css">
</head>
<style>
    
    body {
    background-image:url(./img/ux-store-ukeUH3KbMWU-unsplash.jpg);
    text-align: center
}
section{ 
     background-color: transparent;
     width: 705px;
     padding:100px;
     display:inline-flex;
     border-style: groove;
     border-width: 3px;
     border-color: burlywood;
}
</style>

<body>
    <header id="gc"> Do you want to win a $25.00 GiftCard?<br>Click here for the 
        <a href="./survey.html" target="_blank" id="next2">Survey Form</a>
    </header>
   <br>
   <br>
   <br>
 
 
 <div class="center">
    <section class="center"><h1 id="fill">Fill out the survey and we will give you the option to customize your own personal Mastercard</h1>
    </section>
    <br>
    <br>
    <br>
    <p> </p>
    
    </div>
</body>

</html>