<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./contact.css">
</head>
<style>
    @media screen and (max-width:1000px) {
    .grid{
        display: flex;
        font-size: 10px;
       

    }
}
</style>
<body>
    <header>Contact us</header>
    <main>
        <div class="flex">
            <section class="flex" id="profile">
<img src="../images/pexels-alexander-dummer-134469.jpg" width="auto" alt="Studio View">
            </section>

        </div >
        <!-- Profile picture for thne contact page -->

        <div class="flex">
            <section class="flex" id="info">
                <div class="grid" id="email">
                    Email:
                    <br>
                    Sr2fyd@gmail.com
                   

                </div>

                <div class="grid" id="address">
                        
                        
                        <address>Address: 
                            <br>
                            1234 W. Hood ave.
                            Banging,USA
                        </address>
                </div>

                <div class="grid" id="social">
                            Social Media :  
                            
                            @facebook/sr2fydENT
                            <br>
                          
                            @instagram/Song2Buy
                    
                </div>
            </section>
        </div>
      
    </main>
</body>
</html>