<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="thumbnail">
        <img src="./images/Miami/pexels-elvis-vasquez-421655.jpg" alt="biscaine" width="100%">
<img src="./hotel.jpg" alt="hotel" width="100%">
<img src="./images/Miami/pexels-antonio-cuellar-4366061.jpg" alt="ocenside" width="100%">
<img src="./images/Miami/pexels-mylo-kaye-11094897.jpg" alt="the beach" width="100%">
<img src="./images/Miami/pexels-gagan-cambow-12608933.jpg" alt="fairgrounds" width="100%">

</div>
<!-- thumbnail of Miami beachside sites -->


<div class="diamonds" id="d1" style='font-size:65px;opacity:0.2'>&#128142;</div>
<div class="diamonds" id="d2" style='font-size:45px;opacity:0.8'>&#128142;</div>
<div class="diamonds" id="d3" style='font-size:55px;opacity:0.7'>&#128142;</div>
<div class="diamonds" id="d4" style='font-size:45px;opacity:0.5'>&#128142;</div>
<div class="diamonds" id="d5" style='font-size:15px;opacity:0.3'>&#128142;</div>
<div class="diamonds" id="d6" style='font-size:65px;opacity:0.5'>&#128142;</div>
<div class="diamonds" id="d7" style='font-size:45px;opacity:0.2'>&#128142;</div>
<div class="diamonds" id="d8" style='font-size:45px;opacity:0.3'>&#128142;</div>
<div class="diamonds" id="d9" style='font-size:65px;opacity:0.2'>&#128142;</div>
<div class="diamonds" id="d10" style='font-size:15px;opacity:0.5'>&#128142;</div>
<div class="diamonds" id="d11" style='font-size:25px;opacity:0.2'>&#128142;</div>


<main>
    <!-- <section class="final">
        <article class="inside">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cumque blanditiis perferendis accusamus minus veniam modi eligendi explicabo dolores rerum! Laborum ullam libero molestiae dignissimos modi iste nulla pariatur officiis eius quod cumque error necessitatibus vel aliquam eligendi provident illum, alias et velit quam corporis reiciendis mollitia? Recusandae, numquam libero.</p>
        </article>
       
    </section> -->
    <div  id="zoom-in" width=100%
    >
             
    </div>
</main>
 <footer></footer>
</body>
</html>