<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get-A-Way Window</title>
    <link rel="stylesheet" href="./testsite.css">
</head>
<body>
    <div class="square">
        <h1 class="glow" style="text-align: center;margin-left: 11%; font-size: 75px;">The Get-A-Way </h1>
        <div><img  id="num1" src="./images/pexels-chevanon-photography-333525.jpg" alt="TakeOffPlane" width="400" height="500">
            <div ><img id="num2"  src="./images/Miami/pexels-pixabay-258154.jpg" alt="ResortAtbeach" width="500" height="300">
                <div ><img id="num3" src="./images/pexels-pixabay-462030.jpg" alt="SunJar" width="400" height="500">
<h2 class="glow" style="margin-left: 26%;margin-top: 14%"> We all need</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>