<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <header>Title</header>
    <main ID="main-doc">
        <aside>
            <nav>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>

            </nav>
        </aside>
        <!-- navigation bar that is aligned to the left of the page -->
        <h2>logo/trademark</h2>

 
<div class="main-section" >
<section class="main-section" id="introduction" >
    <header>Main Questions </header>
    <div id="q" style="height:300px;width:50px; background:lightblue;">&#8263
        <p syle="float:right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est sit voluptatibus maxime voluptate explicabo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam enim illum illo aut nemo, quis aliquid neque
                 hic corporis eum distinctio nobis dolore amet iste dicta.
                 Omnis, voluptatibus explicabo.</p>
                </div>
</section>

<!-- section1 -->

<section class="main-section" id="content">
    <header>Color Options</header>
    <div id="wheel"><img src="" alt="color wheel"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum a, veniam exercitationem illo iusto labore ipsum 
             adipisci nihil dolores aut dignissimos libero porro nobis vero aliquid repellat. Possimus, veritatis dolores!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo exercitationem sunt vel esse reprehenderit!</p> 
            <img src="" alt=""><figcaption></figcaption>
            <!-- color wheel img will appear and be scaled -->
            <code>  <h2>Color</h2></code>
              <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>

              </ul>
               
    
</section>

<!-- section2 -->

<section class="main-section" id="subject">
    <header>Subject</header>
    <div id="support"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo natus nesciunt et culpa
             pariatur rerum neque nisi excepturi aliquam, impedit optio commodi rem unde consectetur
              consequatur harum odit recusandae!</p>
              <img src="" alt="Color Wheel">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ut consequatur facere fugit voluptate accusantium voluptatem!</p>
                 <code><p></p></code>
</section>

<!-- section3 -->

<section class="main-section" id="conclusion">
    <header>Durability</header>
    <div id="durability"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime deserunt 
            sit cupiditate perferendis nam a voluptas esse, exercitationem blanditiis quasi,
             quibusdam, dicta necessitatibus sed nemo. Ea perspiciatis eveniet error!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Necessitatibus, rem amet laboriosam maiores iusto illo!</p>

                 <!-- slideshow for shoes will begin here -->
                 
                 <h2 style="text-align:center;font-size:75px;margin:11%;margin-top:2%;">Shoe Trends</h2>

        <div class="container">
            <div class="mySlides">
              <div class="numbertext">1 / 9</div>
              <img class="sizeme" src="" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">3 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">4 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">5 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">6 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">7 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">8 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">9 / 9</div>
                <img class="sizeme" src="" style="width:100%">
              </div>

              <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="./images/jade-scarlato-Fezm1veF_Fg-unsplash.jpg" style="width:100%" onclick="currentSlide(1)" alt="Blue/Black Airforces">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-erik-mclean-4061385.jpg" style="width:100%" onclick="currentSlide(2)" alt="LV Hightop Airforces">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-mnz-1598505.jpg" style="width:100%" onclick="currentSlide(3)" alt="Gold/Grey Hibachis">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-peter-patel-637076.jpg" style="width:100%" onclick="currentSlide(4)" alt="White/Blue AirForces">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-ray-piedra-1456706.jpg" style="width:100%" onclick="currentSlide(5)" alt="Green/Blue runners">
    </div>    
    <div class="column">
      <img class="demo cursor" src="./images/pexels-ray-piedra-1537671.jpg" style="width:100%" onclick="currentSlide(6)" alt="Gold runners">
    </div>
    <div class="column">
        <img class="demo cursor" src="./images/pexels-suraj-b-2759779.jpg" style="width:100%" onclick="currentSlide(7)" alt="Red/White lowtops">
      </div>
      <div class="column">
        <img class="demo cursor" src="./images/pexels-wallace-chuck-4695156.jpg" style="width:100%" onclick="currentSlide(8)" alt="Gray Hightops">
      </div>
      <div class="column">
        <img class="demo cursor" src="./images/hermes-rivera-w83s82yd3Fk-unsplash.jpg" style="width:168%" onclick="currentSlide(9)" alt="Red/White Jordans">
      </div>
  </div>
</div>

<!-- slideshow will end -->
                 <code><p>Athletic/leisure</p></code>
    
</section>

<!-- section4 -->

<section class="main-section" id="design">
    
    <header>Design</header><code>Dont forget to subscribe</code>
    <div id="emoji">&#128076</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, unde, 
            voluptatum corporis alias dolor, porro officia suscipit corrupti voluptate distinctio asperiores?
             Accusantium culpa veritatis eligendi, dolorem excepturi reprehenderit praesentium!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aspernatur repellat soluta laudantium provident fuga quas.</p>
            </section>
                <!-- section5 -->
    </main>
    </body>
</div>
</body>
</html>