<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech.Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<style>
    @media screen and (max-width:480px) 
{
    #navbar{
        float:left;
        position: relative;;
    }
    /* .main-section{
        margin-left: 20%;
    } */
}
</style>
<body>
    <!-- 
User Story #1: I can see a main element with a corresponding id="main-doc", which contains the page's main content (technical documentation).

User Story #2: Within the #main-doc element, I can see several section elements, each with a class of main-section. There should be a minimum of 5.

User Story #3: The first element within each .main-section should be a header element which contains text that describes the topic of that section.

User Story #4: Each section element with the class of main-section should also have an id that corresponds with the text of each header contained within it. Any spaces should be replaced with underscores (e.g. The section that contains the header "Javascript and Java" should have a corresponding id="Javascript_and_Java").

User Story #5: The .main-section elements should contain at least 10 p elements total (not each).

User Story #6: The .main-section elements should contain at least 5 code elements total (not each).

User Story #7: The .main-section elements should contain at least 5 li items total (not each).

User Story #8: I can see a nav element with a corresponding id="navbar".

User Story #9: The navbar element should contain one header element which contains text that describes the topic of the technical documentation.

User Story #10: Additionally, the navbar should contain link (a) elements with the class of nav-link. There should be one for every element with the class main-section.

User Story #11: The header element in the navbar must come before any link (a) elements in the navbar.

User Story #12: Each element with the class of nav-link should contain text that corresponds to the header text within each section (e.g. if you have a "Hello world" section/header, your navbar should have an element which contains the text "Hello world").

User Story #13: When I click on a navbar element, the page should navigate to the corresponding section of the main-doc element (e.g. If I click on a nav-link element that contains the text "Hello world", the page navigates to a section element that has that id and contains the corresponding header.

User Story #14: On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user.

User Story #15: My Technical Documentation page should use at least one media query. -->
<header id="top" style="letter-spacing:91px; font-size:75px; font-weight:850;text-shadow: -25px 15px 5px #9b6621;
font-style: oblique;color: #7a3f15">&#8517;esigner &#167;hoes </header>
<br>
    
                    <!-- header on the document -->

<main id="main-doc">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <code id="under"><h2 style="color:#583319; margin-left:15%">How to customize <br> <sub> Edition </sub>22" </h2></code>
                    
                      <div id="pane"></div>
                        
                    <aside class="sidebar">
        
                        <nav id="navbar">
                            <header style= "background-color: transparent;position:relative;bottom: -58px;;color:white;font-size:25px;">Contents</header>

                                <a class="nav-link" id="clip1" href="#main_questions"> Main Questions</a>
                                <img src="./images/newbutton.png" alt="goldenbutton">
                                
                                <a class="nav-link" id="clip2" href="#color_options">Color Options</a>
                                <img src="./images/newbutton.png" alt="goldenbutton">

                                <a class="nav-link" id="clip3" href="#support">Support</a>
                                <img src="./images/newbutton.png" alt="goldenbutton">

                                <a class="nav-link" id="clip4" href="#durability">Durability</a>
                                <img src="./images/newbutton.png" alt="goldenbutton">

                                <a class="nav-link" id="clip5" href="#design">Design</a>
                                <img src="./images/newbutton.png" alt="goldenbutton">

                            
                        </nav>
                                   
                    </aside>
                 
                    <!-- navigation bar that is aligned to the left of the page --> 
  
 
<section class="main-section" id="main_questions">

    <header>Main Questions </header>
    
   
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est sit voluptatibus maxime voluptate explicabo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam enim illum illo aut nemo, quis aliquid neque
                 hic corporis eum distinctio nobis dolore amet iste dicta.
                 Omnis, voluptatibus explicabo.</p>
              



                <div class="grid" id="small">&#8263
                     
                </div>

                
   
</section>

<!-- section1 -->

<section class="main-section" id="color_options">
  
    <header>Color Options</header>
    <!-- <span class="q" style="height: 352px; width: 50px;background: tan; font-size:25px;"></span> -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum a, veniam exercitationem illo iusto labore ipsum 
             adipisci nihil dolores aut dignissimos libero porro nobis vero aliquid repellat. Possimus, veritatis dolores!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo exercitationem sunt vel esse reprehenderit!</p> 
            
                <code><p>old school Jordans revamped</p></code>
            
                <div class="grid" id="med" >
                  <img src="./images/colorWHeel.PNG" alt="color wheel">
                </div>
          
    
</section>

<!-- section2 -->

<section class="main-section" id="support">
 
    <header>Support</header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo natus nesciunt et culpa
             pariatur rerum neque nisi excepturi aliquam, impedit optio commodi rem unde consectetur
              consequatur harum odit recusandae!</p>
              <img src="" alt="">
            <code>  <h2>This sessions "In-Shoe":</h2></code>
              <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>

              </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ut consequatur facere fugit voluptate accusantium voluptatem!</p>
                

                 <div class="grid" id="large"><Span>Support</Span></div>
    
</section>

<!-- section3 -->

<section class="main-section" id="durability">
 
    <header>Durability</header>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime deserunt 
            sit cupiditate perferendis nam a voluptas esse, exercitationem blanditiis quasi,
             quibusdam, dicta necessitatibus sed nemo. Ea perspiciatis eveniet error!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Necessitatibus, rem amet laboriosam maiores iusto illo!</p>
                 
                
                 <h2 style="text-align:center;font-size:75px;margin:11%;margin-top:2%;">Shoe Trends</h2>
  <div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 9</div>
    <img class="sizeme" src="./images/jade-scarlato-Fezm1veF_Fg-unsplash.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 9</div>
    <img class="sizeme" src="./images/pexels-erik-mclean-4061385.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 9</div>
    <img class="sizeme" src="./images/pexels-mnz-1598505.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 9</div>
    <img class="sizeme" src="./images/pexels-peter-patel-637076.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 9</div>
    <img class="sizeme" src="./images/pexels-ray-piedra-1456706.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 9</div>
    <img class="sizeme" src="./images/pexels-ray-piedra-1537671.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">8 /9</div>
    <img class="sizeme" src="./images/pexels-suraj-b-2759779.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">8 / 9</div>
    <img class="sizeme" src="./images/pexels-wallace-chuck-4695156.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">9 /9</div>
    <img class="sizeme" src="./images/hermes-rivera-w83s82yd3Fk-unsplash.jpg" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="./images/jade-scarlato-Fezm1veF_Fg-unsplash.jpg" style="width:100%" onclick="currentSlide(1)" alt="Blue/Black Airforces">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-erik-mclean-4061385.jpg" style="width:100%" onclick="currentSlide(2)" alt="LV Hightop Airforces">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-mnz-1598505.jpg" style="width:100%" onclick="currentSlide(3)" alt="Gold/Grey Hibachis">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-peter-patel-637076.jpg" style="width:100%" onclick="currentSlide(4)" alt="White/Blue AirForces">
    </div>
    <div class="column">
      <img class="demo cursor" src="./images/pexels-ray-piedra-1456706.jpg" style="width:100%" onclick="currentSlide(5)" alt="Green/Blue runners">
    </div>    
    <div class="column">
      <img class="demo cursor" src="./images/pexels-ray-piedra-1537671.jpg" style="width:100%" onclick="currentSlide(6)" alt="Gold runners">
    </div>
    <div class="column">
        <img class="demo cursor" src="./images/pexels-suraj-b-2759779.jpg" style="width:100%" onclick="currentSlide(7)" alt="Red/White lowtops">
      </div>
      <div class="column">
        <img class="demo cursor" src="./images/pexels-wallace-chuck-4695156.jpg" style="width:100%" onclick="currentSlide(8)" alt="Gray Hightops">
      </div>
      <div class="column">
        <img class="demo cursor" src="./images/hermes-rivera-w83s82yd3Fk-unsplash.jpg" style="width:168%" onclick="currentSlide(9)" alt="Red/White Jordans">
      </div>
    </div>
  </div>


                 <code><p></p></code>
                
    <div class="grid" id="x-large"> Athletic / Leisure</div>
      
                </section>

<!-- section4 -->

<section class="main-section" id="design">
 
    <header>Design</header><code>Dont forget to subscribe</code>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, unde, 
            voluptatum corporis alias dolor, porro officia suscipit corrupti voluptate distinctio asperiores?
             Accusantium culpa veritatis eligendi, dolorem excepturi reprehenderit praesentium!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Aspernatur repellat soluta laudantium provident fuga quas.</p>

                <code ></code>
             
                <div class="grid" id="reg">&#128076</div>
            
    
</section>
<!-- section5 -->



<footer>Brought to you by: NIKE</footer> 
<code><p>
    "2022" Trendsetters </p></code>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("demo");
          let captionText = document.getElementById("caption");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          captionText.innerHTML = dots[slideIndex-1].alt;
        }
        </script>
</main>
<script src="pcc-userstory-tests.js"></script>
</body>
</html>